---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Pillars from '../components/Pillars.astro';
import Solutions from '../components/Solutions.astro';
import BlogSeries from '../components/BlogSeries.astro';
import AiRadar from '../components/AiRadar.astro';
import MaturityRef from '../components/MaturityRef.astro';
import CtaSection from '../components/CtaSection.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<Layout title="Visdom by VirtusLab - How We Build Agent-Ready SDLC with Enterprise Teams">
  <Nav />
  <main>
    <Hero />
    <Pillars />
    <Solutions />
    <BlogSeries />
    <AiRadar />
    <MaturityRef />
    <CtaSection />
  </main>
  <Footer />
</Layout>
