---
import { Pillars as PillarsReact } from '@virtuslab/visdom-ui';

const pillars = [
  { value: '88%', label: 'build time decrease' },
  { value: '43%', label: 'PR merge time reduction' },
  { value: '160+', label: 'open-source repositories' },
  { value: '15+', label: 'years in JVM ecosystem' },
];
---
<section class="pb-8">
  <div class="container">
    <PillarsReact pillars={pillars} client:load />
  </div>
</section>
